---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
       <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}

<div style="display:table; widht:100%;">
  <div style="display: table-cell; box-sizing:border-box; width:40%; "><img src="http://news.hust.edu.cn/__local/9/B8/A4/B302FC4A91CCA1BC684B57D67B7_C652641E_5E9DE.jpg" alt="PDF"></img> </div>
  <div style="display: table-cell; box-sizing:border-box; width:60%;">{% include archive-single.html %}</div>
</div>
    
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



